.inner_copy {border:0;color:#f00;float:left;width:50% !important;margin:-100% 0 0 0;overflow:hidden;line-height:0;padding:0;font-size:11px}
.fleft {float:left}
.fright  {float:right}
.fcenter {float:none;margin:0 auto;text-align:center}
.fclear {clear:both}
body {margin:0;font-size:13px;font-family:arial;color:#3F3F3F;background-image:url(images/bg.gif);background-repeat:repeat-x;background:#474747}
.name {font-size:30px;color:#B0D500;padding-left:15px;text-transform:uppercase}
.tag {font-size:12px;color:#474747;padding-left:17px;font-weight:bold;text-transform:uppercase}
#links-bg {background-image:url(images/links-bg.jpg);background-repeat:repeat-x;width:452px}
.toplinks {height:34px;width:88px;text-align:center;font-weight:bold;font-size:11px;text-transform:uppercase}
.toplinks a {text-decoration:none;color:#fff}
.toplinks a:hover {text-decoration:none;color:#383838}
.sap {width:1px;color:#fff}
.bottomlinks {width:100px;font-size:11px;text-align:center;font-family:tahoma}
.bottomlinks a {color:#C2C2C2;text-decoration:none}
.bottomlinks a:hover {color:#B4CA41;text-decoration:none}
.sap2 {color:#C2C2C2;width:1px}
a {color:#B4CA41;text-decoration:underline}
a:hover {color:#B4CA41;text-decoration:none}
.leftlinks {height:25px;line-height:25px;font-family:tahoma;font-size:11px;font-weight:bold}
.leftlinks a {text-decoration:none;color:#464545;display:block;background:#fff;padding-left:13px}
.leftlinks a:hover {text-decoration:none;color:#464545;background:#F2F2F0}
.cat-head {height:38px;text-decoration:none;color:#fff;padding-left:15px;text-transform:uppercase;font-weight:bold;font-family:tahoma;background-image:url(images/cat-head.gif);background-repeat:no-repeat}
.offer {color:#5E5B5B;font-family:tahoma;font-weight:bold;height:30px;line-height:30px}
.smal-txt {font-size:11px;color:#353434}
.price {color:#414141;font-family:tahoma;font-weight:bold;height:30px;line-height:30px;font-size:14px}
.add {height:16px;font-weight:bold;font-size:11px;font-family:tahoma;background-image:url(images/add.gif);background-repeat:no-repeat;color:#fff;padding-left:10px}
.add a {text-decoration:none;color:#fff}
.add a:hover {text-decoration:none;color:#fff}
.details {height:16px;font-weight:bold;font-size:11px;font-family:tahoma;background-image:url(images/detail.gif);background-repeat:no-repeat;color:#fff;padding-left:10px}
.details a {text-decoration:none;color:#fff}
.details a:hover {text-decoration:none;color:#fff}
#footer {color:#fff;margin:0;padding:0}
.main-head {background:#5E5B5B;height:40px;text-transform:uppercase;color:#fff;font-weight:bold;padding-left:15px}